<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <form *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && saveUser()"
          #f="ngForm"
          novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               name="name"
               required
               [(ngModel)]="form.name"
               #name="ngModel" />
               <div class="alert-danger" *ngIf="name.errors && f.submitted">
                <div *ngIf="name.errors['required']">Name is required</div>
              </div>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text"
               class="form-control"
               name="comment"
               [(ngModel)]="form.comment"
               #comment="ngModel" />
               <!-- <div class="alert-danger" *ngIf="comment.errors && f.submitted">
                <div *ngIf="comment.errors['required']">Comment is required</div>
              </div> -->
      </div>
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text"
               class="form-control"
               name="login"
               required
               [(ngModel)]="form.login"
               #login="ngModel" />
               <div class="alert-danger" *ngIf="login.errors && f.submitted">
                <div *ngIf="login.errors['required']">Login is required</div>
              </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text"
               class="form-control"
               name="password"
               required
               [(ngModel)]="form.password"
               #password="ngModel" />
               <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']">Password is required</div>
              </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isCreateFailed">
        New user creation failed!<br />{{ errorMessage }}
      </div>
  </form>
  <button class="btn btn-success" (click)="toMain()">Home</button>
    </div>
    <div *ngIf="submitted">
      <h4>User was added successfully!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
      <button class="btn btn-success" style="margin-left: 10px;" (click)="toMain()">Home</button>
    </div>
  </div>
</div>
